.wrapper {
    max-width: 62.5rem; 
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem; 
    background-color: #F1F3C2;
    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.25rem; 
        width: 100%;
    }
    .item-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
        gap: 1.25rem; 
        width: 100%;
        padding: 1.25rem; 
        justify-content: center;
    }
    .item-card {
        background-color: #CEDF9F;
        border-radius: 0.9375rem;
        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
        overflow: hidden;
        transition: background-color 0.3s ease;
        text-align: center;
        padding: 0.9375rem; 
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 21.875rem; 
        width: 15.625rem;  
        box-sizing: border-box; 
        .switchedView {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: opacity 0.3s ease;

            img {
                width: 100%;
                height: 9.375rem; 
                border-radius: 0.625rem; 
                transition: opacity 0.3s ease;
                position: absolute;
                top: 1.25rem; 
                left: 1.5625rem; 
            }


            .description {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #CEDF9F;
                color: #343a40;
                padding: 1.25rem; 
                border-radius: 0.9375rem; 
                opacity: 0;
                transition: opacity 0.3s ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                z-index: 1;
                box-sizing: border-box; 
            }
            &:hover img {
                opacity: 0;
            }
            &:hover .description {
                opacity: 1;
            }
        }
        .item-content {
            position: relative;
            z-index: 2; 
            padding-top: 1.25rem;
        }
    }
    .item-quantity {
        padding-bottom: 0.625rem; 
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 0.625rem;
        .decrease, .increase {
            background-color: #E8B86D;
            color: #ffffff;
            width: 30%;
            margin: 0 0.25rem; 
            border: none;
            border-radius: 1.25rem; 
            padding: 0.5rem; 
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #D99A54;
            }
        }
        .increase {
            background-color: #A1D6B2;
            &:hover {
                background-color: #8DC7A2;
            }
        }
    }
    .total-section {
        margin-top: 1.25rem; 
        font-size: 1.2em;
        font-weight: bold;
    }
    .edit-delete {
        display: flex;
        justify-content: center;
        gap: 0.625rem; 
        margin-bottom: 0.625rem; 
    }
}
