.wrapper1 img {
  margin: auto;
  padding: 3px;
  border: 5px solid rgb(55, 56, 114);
}

.wrapper2 img {
  margin: auto;
  padding: 3px;
  border: 5px solid rgb(55, 114, 78);
}
.wrapper3 img {
margin: auto;
padding: 3px;
border: 5px solid goldenrod;
}


body {
  text-align: center;
  background-color:rgb(207, 155, 173);
  font-family: Brush Script MT;
  color: blue;
  p {
    font-size: 35px;  
  }
  h1{
    font-size: 50px;
}
}
