.header {
    position: sticky;
    top: 0;
    margin-bottom: 5%;
    font-family: "Open Sans", sans-serif;
    margin-top: 5%;
    background-color: #ece9e9;
    text-align: center;
    color: lightgray;
    font-size: 20px;
    font-weight: 600;
    h1 {
        font-size: 46px;
        margin-bottom: 5px;
        color: #3d3d3d;
        letter-spacing: -2px;
    }
    .icons{
        display: flex;
        color: #444444;
        .bars{
            margin-left: 8%;
            font-size: 14px;
        }
        .insta-face{
            margin-left: 79%;
            margin-right: 1%;
        }
        .search {
            padding-left: 1%;
            border-left: 1px solid lightgray;
        }
    }
        
}

