

    .main-items{
        display: flex;
        gap: 10px;
        

        img{
            width: 41rem;
            height: 25rem;
        }
    }

    .mor-items{
        display: flex;
        gap: 10px;
        margin-top: 20rem;
    }


@import "./items.css"