.header{
    margin-top: 0;
    padding: 1px;
   }

  .BBC-header {
    position: sticky;
    border: bottom 0.5em gray;
    height: 60px;
    background-color: white;
    text-align: center;
    
  }

   .form-inline{
    text-align: right;
    margin-top:-1.5%;
  

.btn {
  padding: 0rem 1rem;
  font-size: 1.4rem;
  color: white;
  background-color: black;
  text-align: right;
  margin:0%;
  top: 0%;

  }
}


  
  .navigation-bar-header{
      text-align: center;
  }
    .button {
        border: 0;
        background-color: white;
        font-size: 14px;
        font-family: helvetica, sans-serif;;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
       
    }
    .button:hover {
        border-bottom: 3px solid black;
    }
    .navigation-bar-header {
        border-bottom:1px solid gray;
        border-top: 1px solid gray;
    }
   h2{
     margin-left: 25%;
     font-family: 'Times New Roman', Times, serif;
     font-size: 40px;
   }
    .items{
      justify-content: center;
      height: 20rem;
      width: 40ch;
      font-family: 'Times New Roman', Times, serif;
      margin-bottom: 2rem;
    
  
      
      &--news{
          font-weight: bold;
          text-transform: uppercase;
          color: black;
      }
      &--tags{
          display: flex;
          gap: 0.5rem;
          font-family: Arial, Helvetica, sans-serif;
          color: rgb(84, 86, 88);
          font-size: 0.8rem;
          
          
      }
  
      h3{ 
          &:hover{
              text-decoration: underline;
    
          }
      }
  
      img{
          height: 10rem;
          width: 100%;
  
          &:hover{
              opacity: 0.5;
          }
      }
      
    } 
      .main {
        justify-content: center;
        display:grid;
    }

.header_container{
&:hover{  
  text-decoration: underline;

.img{
&:hover{
    opacity: 0.5;
}
}

}
}
.row {
display: flex;
justify-content: center;
width: 100%;
}

.column {
flex: 1; 
margin: 5px;
}



.header_container {
width: 100%;
display: grid;
grid-gap: 2rem;
grid-template-columns: repeat(auto-fit,minmax(52rem, 1fr))

}

.header_right {
justify-self: right;
width: 50%;
height: 20rem;
font-size: 15px;
margin-top: -600px;
margin-right: -35px;

}
