body{
    margin: 0px auto;
}
.page-body{
    padding-left: 10ch;
    padding-right: 10ch;
}
.ads {
    text-align: center;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    background-color: rgb(249, 248, 248);
    padding: 2.5ch;
    
    img{
        width: 120ch;
    }
}
.page-header{
    border-bottom: black 2px solid;

}
.head{
        display: flex;
}
.items-due{
    display: flex;
    margin-bottom: 20%;
    gap: 10ch;
}
.news{
    border-top: 1.5px solid black;
    display:flex;
    flex-direction: column;
.news-bar{
    justify-content: space-between;
    display: flex;
    
}}
