.box_white{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px black solid;
}
.box_black{
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px gray solid;
}