#map{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;

}

.wrapper{
    width: 90vw;
    margin: auto;
    position:relative;
}

.creature{
    position: absolute;
    width: 50px;
   
}