@import "./../styles/elements.scss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



#home {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  gap: 10px;

  .left-menu {
    flex: 1;
    position: sticky;
    align-self: flex-start;
    top: 5px;
  }
  .main {
    flex: 2;
    // background-color: #646cff;
  }

  .right-menu {
    flex: 1;
  }
}
