div {
    border: 1px black solid;
    padding: 20px;
}
.wrapper {
    margin: auto;
    .page-logo{
        border: none;
        text-align: center;
    }
    .box-sticky {
        position: sticky;
        top: 0px;
        background-color: red;
        border: 1px blue dotted;
        padding: 2px;
        z-index: 1;

        .in-sticky{
            border: none;
            background-color: red;
            :hover{
                background-color: black;
            }
        }
        .relative-sticky{
            width: 5%;
            position: relative;
            float: inline-end;
            bottom: 20px;
            border: none;
            color: white;
            
            
    }
    
}
    .flash{
        position: relative;
        
        .flash-news{
            position: relative;
            bottom: 100px;
            display: inline;
        }
        

    }
    .box-fixed{
        position: fixed;
        background-color: lightblue;
        border-radius:50%;
        right: 2px;
        bottom: 2px;
        .in-fixed{
            border: none;
            background-color: lightblue;
            margin: 2px;
            padding: 0px;
        }
    }
    .box-relative{
        height: 60px;
        .in-relative{
            width: 15%;
            float: right;
        }
    }
    .first-artcl{
        position: relative;
        img{
            float: inline-end;
        }
        .txt1{
            width: 40%;
            position: relative;
            right: 10px;
            border: none;
        }
        
    }
    .ad-section{
        position: relative;
        img{
            float: inline-end;
        }
        .AD-artcl{
            width: 70%;
        }
        .artcl1{
            background-color: aqua;

        }
        .artcl2{
            background-color: black;
        }
        .artcl3{
            background-color: beige;
        }
        .artcl4{
            background-color: brown;
        }
    }

}
