
.search-bar{
    direction: ltr;
    margin-top: 5vh;
    height: 8vh;
    align-items: center;
    display: flex;
    
    .button--discover{
        border:0;
        background-color: #121212;
        color: rgb(182, 181, 181);;
        &:hover{
            color: white;
        }
    }
    .button--browse{
        border:1px solid white;
        background-color: #121212;
        color: white;
        border-radius: 5px;

    }
    .button--news{
        border:0;
        background-color: #121212;
        color: rgb(182, 181, 181);
        &:hover{
            color: white;
        }

    }

    .search{
        display: flex;
        margin-left: 14vw;
        height: 4vh;
        
    .material-icons{
        background-color: rgb(182, 181, 181);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: 0;
        
            
    }
    .search-input{
        background-color: rgb(182, 181, 181);
        border-left: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top:0;
        border-bottom:0;
    }
    
        &:hover .search-input, &:hover .material-icons{
            background-color: white;
            cursor: pointer;
        }
    
}
}
.sales{
    margin-top: 2vh;

    .sales-cards{
        display: flex;
        margin-left: 14vw;
        
        img{
            width: 25vw;
            margin-right: 2vw;
            border-radius: 20px;
            transition: filter 0.3s ease;
            &:hover{
                cursor: pointer;
                filter: brightness(1.2);
               
            }
        }

    }
}
@media screen and (max-width: 1200px) {
    .button--browse,.button--news{
        display: none;
    }
    .search-input{
        display: none;
    }
    .button--discover{
        margin-left: 30vw;
    }
    .material-icons{
        background-color: #121212;
        color:#121212 ;
    }
     
 }