.upper-header {
    position: fixed;
    top: 0;
    width: 100%;
    direction: rtl;
    background-color: black;
    height: 3.8rem;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    border: 0 solid #000;
}

.logo-container{
    height: 4rem; 
    width: 100%;
    background-image: url('https://dealcoupon.co.il/storage/medialibrary/1268/conversions/Terminal_X_logo-logo.png');
    background-position: center center;
    background-size: auto 100%; 

}

.upper-header h3 {
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
    box-sizing: border-box;
    font-style: normal;
    line-height: 1.36;
}

.upper-header h3:hover {
    text-decoration: underline;
}

.lower-header {
    margin-top: -1.1%;
    text-align: center;
    padding: 3%;

.icons{
   display: inline-block;
   margin-right: 49%;
}

.user-login {
    display: inline-block;
    cursor: pointer;
    p:hover{
        text-decoration: underline;
    }
}

.user-login p {
    font-size: 140%;
    margin-right: 15px;
    direction: rtl;
}
}

.logo {
    margin-top: -3%;
}

.nav-menu {
    display: flex;
    justify-content: center; 
    margin-top: 1%;
    flex: 1;
    border-bottom: 1px solid #eee;
    color: var(--menubar_color);
     
}

.nav-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 10px; 
}

.nav-menu a {
    text-decoration: none;
    display: block;
    color: black; 
    font-size: 1.4rem;
    justify-content:space-between;
    background-color: transparent;
    font-family: "Roboto", "narkisblock", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-menu a:hover {
    text-decoration: underline;   
}