// * {
//   margin: 0;
//   padding: 0;
// }

body {

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #d1f1fe;
  font-family: Arial, Helvetica, sans-serif;
}

#openDialog {
  position: absolute;
  bottom: 0;
}

.menu {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px;

  #level, #score, #timer {
    font-size: 3rem;
    font-weight: 900;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 0 10px;
  }
}

dialog {
  background: rgb(255, 255, 255);
  max-width: 600px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

:focus-visible {
  outline: none;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.map {
  width: 100vw;
  position: relative;
  flex: 1;

  &::before {
    position: absolute;
    content: " ";
    width: inherit;
    height: 100%;
    background-image: url(../images/world.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // filter: opacity(60%);
  }
}

.robotsAria {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  height: 50%;
}

.robot {
  width: 6rem;
  height: 6rem;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  // border: 1px solid red;

  &::before {
    content: attr(title);
    display: block;
    position: absolute;
    left: 50%;
    top: -1.2rem;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px;
    opacity: 80%;
    z-index: 2;
    color: red;
  }

  // &:hover::after {
  //   content: attr(data-title);
  //   position: absolute;
  //   top: 100%; /* Position above the element */
  //   left: 50%;
  //   transform: translateX(-50%);
  //   background-color: #333;
  //   color: #fff;
  //   padding: 5px 10px;
  //   border-radius: 5px;
  //   // white-space: nowrap;
  //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  //   z-index: 10;
  //   opacity: 1;
  //   transition: opacity 0.3s;
  //   width: 350px;
  // }
}

#boom{
  position: absolute;

  transform: translate(-50%, -50%);

  width: 220px;
  height: 220px;
}
