.body{
    margin: auto;
}

.login-header {
    background-color: white;
    color: black;
    height: 3rem;

    .right-login-header{
        float: right;
        margin-right: 5rem;
        font-size: 1.2rem;
    }

    .left-login-header {
        float: left;
        background-color: yellow;
        margin-left: 3rem;
        font-size: 1.2rem;
        text-align: center;
        height: 3rem;

        .p{

        }
    }
}

.terminalx-banner {
    display: flex;
    justify-content:space-around;
    border-color: black;

    .terminalx-mini-logo{
        width: auto

        .img{

        }
    }
}