body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-width: 1200px;
    min-height: 100vh;
    // background-color: #c25252;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.pets-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}