.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow: hidden; 
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px; /* Add space between the heading and the image */
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}