h1{
    color: red;
    text-align: center;
}
.image{
    background-color: #29123D;
    display: block;
    text-align: center;
    
    img{
        width: 50%;
    }
}
.para{
    background-color: #29123D;
    width: 100%;
    text-align: center;
    color:white;

}
