.wrapper{
    width:1000px;
    border-color: aqua;

    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: blue;
    }
    img{
        width: 100%;
    }
   
}

img{
    width: 300px;
}