.ball{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: red;
    right: 0%;
    position: absolute;
    animation-name:Stairs ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out ;
}

@keyframes Stairs{

    0%{
        right: 0px;

    }

    10%{
right: 100px;
    }

    20%{
        right: 100px;
        top: 100px;
    }

    30%{
        right: 200px;
        top: 100px;
    }

    40%{
        top: 200px;
        right: 200px;
    }

}