.tile {
    width: 10vh;
    height: 10vh;

    &.black {
      background-color: rgb(136, 66, 26);
    }

    &.white {
      background-color: bisque;
    }

    &.selected, &.valid-move {
      background-color: green;
    }

    &:not(.selected):hover {
      background-color: #808080; 
    }

    // &.valid-move {
    //   background-color: green;
    // }
  }
