.container {
  max-width: 600px;
  width: 100%;
  margin: 3rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #383434;
 

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #e7eaee
  }

  form {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
  }

  div {
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
    display: block;
    color: #e7eaee;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;

  }

  button {
    padding: 0.7rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-top: 20px;
    width: 80%;

  }

  button:hover {
    background-color: #0056b3;
  }
}