@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
body {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
/* Birds */
.container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40rem;
    background-image: linear-gradient(to bottom, rgba(250, 178, 101, 0.6) 0%, rgba(251, 117, 7, 0.6) 100%), url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
  }
  
  .bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: bird-fly;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
  
    &__one {
      animation-duration: 1s;
      animation-delay: -0.5s;		
    }
  
    &__two {
      animation-duration: 0.9s;
      animation-delay: -0.75s;
    }
  
    &__three {
      animation-duration: 1.25s;
      animation-delay: -0.25s;
    }
  
    &__four {
      animation-duration: 1.1s;
      animation-delay: -0.5s;
    }
  }
  
  .bird-box {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    &__one {
      animation-duration: 15s;
      animation-delay: 0;
    }
  
    &__two {
      animation-duration: 16s;
      animation-delay: 1s;
    }
  
    &__three {
      animation-duration: 14.6s;
      animation-delay: 9.5s;
    }
  
    &__four {
      animation-duration: 16s;
      animation-delay: 10.25s;
    }
  }
  
  @keyframes bird-fly {
    100% {
      background-position: -900px 0;
    }
  }
  
  @keyframes fly-right {
    0% {
      transform: scale(0.3) translateX(-10vw);
    }
  
    10% {
      transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
  
    20% {
      transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
  
    30% {
      transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
  
    40% {
      transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
  
    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
  
    60% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
  
    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
  }
  
  h1, h2 {
    font-family: "Quando", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: whitesmoke;
  }
  h2 {
    font-size: 30px;
  }

.cloudDiv {
    margin: 0 auto;
  }
  .infoPane {
      width: 200px;
      height: 2000px;
      margin: 0 auto;
      position: relative;
      background: white;
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
      overflow: hidden;
      z-index: -5;
  }

  
   #cloud1 {
      opacity: .9;
      top:50px;
      left: 120%;
      transform: scale(1.2);
      animation: drift 25s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 8s;
      z-index:2;
  }
  
  #cloud2 {
      opacity: .8;
      top:40px;
      left: 120%;
      transform: scale(.7);
      animation: drift 50s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      z-index: 1;
  }
  #cloud3 {
      opacity: 0;
      top:20px;
      left: 50%;
      transform: scale(.35);
      animation: driftBg 70s;
      animation-timing-function: linear;
      z-index: 0;
  }
  #cloud4 {
      opacity: 0;
      top:50px;
      left: 20%;
      transform: scale(.40, .45);
      animation: driftBg2 60s;
      animation-timing-function: linear;
      z-index: 0;
  }
  #cloud5 {
      opacity: 0;
      top:220px;
      left: 90%;
      transform: scale(.40);
      animation: driftBg3 90s;
      animation-timing-function: linear;
      z-index: 0;
  }
  #cloud6 {
      opacity: .7;
      top:60px;
      left: 120%;
      transform: scale(.40);
      animation: drift 110s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 11;
      z-index: 0;
  }
  #cloud7 {
      opacity: .8;
      top:95px;
      left: 120%;
      transform: scale(.7);
      animation: drift 45s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 35s;
      z-index: 1;
  }
   #circ1 {
      z-index: 1;
  }
  #circ2 {
      top: 50px;
      left: -40px;
  }
  #circ3 {
      top: 50px;
      left: -120px;
  }
  #circ4 {
      top: 30px;
      left: -60px;
  }
  #circ5 {
      top: 100px;
      left: -150px;
  }
  #circ6 {
      top: 100px;
      left: 130px;
  }
 
   .bigCloud {
      box-shadow: 10px 10px 5px 20px black inset;
      position: absolute;
  }
   .smallCircle {
      height: 100px;
      width: 100px;
      background: white;
      border-radius: 100%;
      position: absolute;
  }
  .middleCircle {
      height: 150px;
      width: 150px;
      background: white;
      border-radius: 100%;
      position: absolute;
  }
  .largeCircle {
      height: 200px;
      width: 200px;
      background: white;
      border-radius: 100%;
      position: absolute;
  }

  
  /*stars*/
   .star {
      height:3px;
      width: 3px;
      background: white;
      position: absolute;
      z-index:0;
  }
  #star1 {
      top: 20px;
      left: 20%;
  }
  #star1 + .star {
    top: 20px;
    left: 70%;
  }
  #star2 {
      top: 80px;
      left: 4%;
  }
  #star2 + .star {
      top: 80px;
      left: 75%;
  }
  #star3 {
      top:150px;
      left: 3%;
  }
  #star3 + .star {
      top:150px;
      left: 90%;
  }
  #star4 {
      top:100px;
      left: 7%;
  }
  #star4 + .star {
      top:100px;
      left: 78%;
  }
  #star5 {
      top:130px;
      left:13%;
  }
  #star5 + .star {
      top:130px;
      left: 60%;
  }
  #star6 {
      height: 5px;
      width: 5px;
      top:50px;
      left: 18%;
  }
  #star6 + .star {
      height: 5px;
      width: 5px;
      top:50px;
      left: 92%;
  }
  #star7 {
      top:35px;
      left: 27%;
  }
  #star7 + .star {
      top:35px;
      left: 79%;
  }
  #star8 {
      top:35px;
      left: 900px;
  }
  #star8 + .star{
      top:35px;
      left: 88%;
  }
  #star9 {
      height: 4px;
      width: 4px;
      top:50px;
      left: 45%;
  }
  #star9 + .star {
      height: 4px;
      width: 4px;
      top:50px;
      left: 97%;
  }
  #star10 {
      top:100px;
      left: 44%;
  }
  #star10 + .star{
      top:100px;
      left: 83%;
  }
  #star11 {
      top:75px;
      left: 37%;
  }
  #star11 + .star{
      top:75px;
      left: 66%;
  }
  

  @keyframes drift {
      from {
          left: 120%;
      }
      to {
          left: -25%;
      }
  }

  @keyframes driftBg {
      0% {
          left: 50%;
          opacity: 0
      }
      3% {
          left: 48%;
          opacity: .7
      }
      100% {
          left: -25%;
          opacity: .7;
      }
  }

  @keyframes driftBg2 {
      0% {
          left: 20%;
          opacity: 0
      }
      3% {
          left: 19%;
          opacity: .7
      }
      100% {
          left: -25%;
          opacity: .7;
      }
  }


  @keyframes driftBg3 {
      0% {
          left: 90%;
          opacity: 0
      }
      2% {
          left: 88%;
          opacity: .65
      }
      100% {
          left: -25%;
          opacity: .65;
      }
  }


/* Pictures slide show*/

  .container-images {
    margin: 50px auto;
    width: 450px;
    height: 300px;
    overflow: hidden;
    border: 10px solid;
    border-top-color: #3baea0;
    border-left-color: #118a7e;
    border-bottom-color: #93e4c1;
    border-right-color: #1f6f78;
    position: relative;
    .photo {
        position: absolute;
        animation: round 16s infinite;
        opacity: 0;
        height: 300px;
        width: 450px;
      }
      img:nth-child(1) {
        animation-delay: 12s;
      }
      img:nth-child(2) {
        animation-delay: 24s;
      }
      img:nth-child(3) {
        animation-delay: 36s;
      }
      img:nth-child(4) {
        animation-delay: 48s;
      }
  }
  

  
  @keyframes round {   
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  } 
  
  
  @keyframes fly-right-two {
    0% {
      transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    10% {
      transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    20% {
      transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    30% {
      transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    40% {
      transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    51% {
      transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
  }
  