body {
    font-family: Arial, sans-serif;
  }
  
  .buttons {
    margin: 20px;
    button {
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 10px;

    }
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    h3 {
      margin: 10px 0;
    }
  
    p {
      color: #666;
    }
  
    .price {
      font-weight: bold;
      color: #333;
    }
  }
  