.container{
    display: grid;
    grid-template-columns: 300px 400px 500px;
    grid-template-rows: 100px 200px 300px;
    gap: 10px;


.item{
    border: 2px blue;
}
.item-header{
    display: grid;
    grid-row: 1;
    grid-column: 1 / 2;
    background-color: blue;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.item-menu{
    grid-column: 1;
    grid-row: 1/ 3;
    background-color: green;
}
}