.popup-wrapper{
    position: fixed;
    top: 5rem;
    left: 85%;
    width: 12vw;
    height: 12vh;
    background-color: rgba(240, 148, 148, 0.5);
    z-index: 10;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
    .popup{
        color:white;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .popup-header{
            display: flex;
            justify-content: center;
            h1{
                text-align: center;
                padding: 0;
                margin: 0;
            }
        }
        .popup-body{

            p{
                text-align: center;
            }
        }
    }
}