body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
}

.product-container,
.cart-container {
  width: 90vw;
  animation: fade-in 1s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product,
.cart-product {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  position: relative;
  height: 360px;
  

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
  }
}

button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background-color: #140a68;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  
  &.add-to-cart {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);    
  }

  &:hover {
    background-color: #f2191d;
    transition: 0.8s;
  }
}
.confirmation {
  margin-top: 20px;
}

.confirm-button {
  display: inline-block;
  background-color: #ff4747;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}