body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
}
body .navbar {
  background-color: #191919;
  color: #f2191d;
  height: 100px;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .navbar img {
  height: 90px;
}
body .navbar .search {
  display: flex;
  align-items: center;
}
body .navbar .search .search-container {
  position: relative;
  width: 100%;
}
body .navbar .search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 25rem;
}
body .navbar .search button {
  position: absolute;
  right: 0;
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 20px;
  background-color: #ddd;
  cursor: pointer;
}
body .navbar .search button i {
  color: #333;
}
body .navbar #user-selection {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}
body .navbar #user-selection label {
  margin-right: 8px;
}
body .navbar #user-selection select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .navbar .cartIcon {
  cursor: pointer;
  margin-right: 1rem;
}
body .navbar .cartIcon i {
  font-size: 24px;
  color: #333;
}
body #product-view,
body #cart-view,
body #thankyou-view {
  padding: 20px;
}
body #product-view .product-container,
body #cart-view .product-container,
body #thankyou-view .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  animation: fade-in 1s;
}
body #product-view .product-container .product,
body #product-view .product-container .cart-product,
body #cart-view .product-container .product,
body #cart-view .product-container .cart-product,
body #thankyou-view .product-container .product,
body #thankyou-view .product-container .cart-product {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  position: relative;
  height: 320px;
}
body #product-view .product-container .product img,
body #product-view .product-container .cart-product img,
body #cart-view .product-container .product img,
body #cart-view .product-container .cart-product img,
body #thankyou-view .product-container .product img,
body #thankyou-view .product-container .cart-product img {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
body #product-view .product-container .product h3,
body #product-view .product-container .cart-product h3,
body #cart-view .product-container .product h3,
body #cart-view .product-container .cart-product h3,
body #thankyou-view .product-container .product h3,
body #thankyou-view .product-container .cart-product h3 {
  margin: 10px 0;
  font-size: 18px;
}
body #product-view .product-container .product p,
body #product-view .product-container .cart-product p,
body #cart-view .product-container .product p,
body #cart-view .product-container .cart-product p,
body #thankyou-view .product-container .product p,
body #thankyou-view .product-container .cart-product p {
  margin: 5px 0;
}
body #product-view .product-container .product button,
body #product-view .product-container .cart-product button,
body #cart-view .product-container .product button,
body #cart-view .product-container .cart-product button,
body #thankyou-view .product-container .product button,
body #thankyou-view .product-container .cart-product button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
body #product-view .product-container .product button:hover,
body #product-view .product-container .cart-product button:hover,
body #cart-view .product-container .product button:hover,
body #cart-view .product-container .cart-product button:hover,
body #thankyou-view .product-container .product button:hover,
body #thankyou-view .product-container .cart-product button:hover {
  background-color: #f2191d;
  transition: 0.8s;
}
body #product-view button,
body #cart-view button,
body #thankyou-view button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #9c0606;
  color: #fff;
  cursor: pointer;
}
body #product-view button:hover,
body #cart-view button:hover,
body #thankyou-view button:hover {
  background-color: #0fbd34;
}
body #product-view .confirmation,
body #cart-view .confirmation,
body #thankyou-view .confirmation {
  margin-top: 20px;
}
body #product-view .confirmation .confirm-button,
body #cart-view .confirmation .confirm-button,
body #thankyou-view .confirmation .confirm-button {
  display: inline-block;
  background-color: #ff4747;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */