h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: auto;
  position: sticky;
  font-size: 75px;
  background-color: white;
  box-sizing: border-box;
}

body {
  padding-inline: 20px;
}

ul {
  list-style: none;
}

.wrapper1 {
  width: 50%;
  height: 130px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  border: 5px;
  border-color: black;
  text-align: center;
}

.wrapper1 .nav_item {
  width: 100%;
  height: 100%;
  align-items: center;
}

.wrapper1 .nav_list {
  display: flex;
  justify-content: space-evenly;
}

.wrapper1 .nav_link {
  font-size: 20px;
  color: var(--color-dark-1);
}

.wrapper1 .nav_btn {
  background-color: var(--color-dark-2);
  color: var(--color-dark-1);
}

.header_right {
  align-self: right;
  font-weight: bold;
  margin-right: 10%;
  margin-left: 60%;
  margin-top: 0px;
}

.header_right img {
  width: 50%;
  height: 50%;
}

.header_left {
  align-self: left;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 60%;
}

.header_left img {
  width: 50%;
  height: 50%;
}

.header_center {
  align-self: center;
  font-weight: bold;
  margin-left: 40%;
  margin-right: 40%;
}

.header_center img {
  width: 80%;
  height: 80%;
}

#container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

#container div {
  align-items: center;
  margin: 10px;
  width: 100%;
}
