body{
  
  h1{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin: auto;
  position: sticky;
  font-size: 75px;
  background-color: white;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

.wrapper1 {
  
  height: 130px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  border: 5px;
  border-color: black;
  text-align: center;
 


.nav_item {
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
}

.nav_link {
  font-size: 20px;
  color:var(--color-dark-1)
 
}

.nav_btn {
  background-color: var(--color-dark-2);
  color: var(--color-dark-1)

}
}
.wrapper2{
display: flex;
flex-direction: row;
gap:50px;
padding-left: 90px;
}


.main {
  margin-top: 7%;
  text-align: center;
  display: flex;
  h1 {
      font-size: 24px;
  }
  h2 {
      font-size: 18px;
  }
  p{
      font-size: 16px;
  }
  .left{
      margin-left: 15%;
      img {
          width: 75%;
      }
  }
  .mid {
  
      img {
        width: 100%;
        height: 90%;
      }
  }
  .right{
      margin-right: 15%;
      img {
          width: 70%;
      }
  }
}

.wrapper3{
  margin-top: 6%;
  text-align: center;
  h2 {
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      font-weight: lighter;
      padding: 16px;
      font-size: 22px;
      margin-left: 20%;
      margin-right: 20%;
  }
  .row {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  }  
  .column {
      flex: 33.33%;
      padding: 5px;
  }
  img {
      width: 90%;
  }
}
}