.wrapper {
    display: flex;
}

.card {
    padding: 20px;
    width: 150px;
    border: 1px solid #ccc;
    margin: 20px;
    text-align: center;

    img {
        width: 100%;
    }
    &-body {
        text-align: center;
    }
}