.wrapper {
    background-color: aquamarine;
    width: 400px;

    img {
        width: 100%;
    }
    
    p {
        color: blueviolet;
    }

}

p {
    color: rgb(16, 99, 71);
}

img {
    width: 400px;
}