.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    margin: 5%;
    bottom: 100vh;
    left: 10%;
    right: 10%;
}

.grid-item {
    position: relative;
    width: 21vw;
    height: 36vh;
    top: 21vh;
    overflow: hidden;
}

.viewtarget {
    position: absolute;
    bottom: -100%; 
    width: 19vw;
    height: 24vh;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: bottom 0.5s ease;
}

.viewtarget {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat; 
    transform: scale(0); 
    opacity: 0;          
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.up {
    transform: scale(1);  
    opacity: 1;           
}

.out {
    transform: scale(0);  
    opacity: 0;           
}

#score{
    font-weight: 200 ;
    border: 1 black ;
    display: inline;
    position: relative;
    color: black;
}
