.wrapper{
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
    .box{
        background-color: aqua;
        height: 100px;
        width: 100px;
        margin: 10px;
    }
}