*{
    
    
    
}

footer{
    background: black;
    padding-top: 50px;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
}
.wrapper0{
    width: 33.3%;
}
.wrapper1{
    font-size: 20px;
    margin: 60px;
    justify-content: left;
    width: 40%;
    padding: 0 15px;
}

.wrapper2{
    font-size: 20px;
    margin: 60px;
    justify-content: center;
    width: 40%;
    padding: 0 15px;
}

.wrapper3{
    font-size: 20px;
    margin: 60px;
    justify-content: right;
    width: 40%;
    padding: 0 15px;
}

.list{
    padding: 0;
}
.list li{
    width: auto;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}