.container {
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    
    .item {
        border: 1px solid black;
    }

    .item-header {
        display: grid;
        grid-row: 1;
        grid-column: 1 / 4;
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }

    .item-footer {
        display: grid;
        grid-row: 4;
        grid-column: 1 / 4;
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }

    .item-main {
        grid-column: 3;
        grid-row: 2 / 4;
        background-color: aquamarine;
    }
}