.left-bar {
    display: flex;
    flex-direction: column;
    .btn {
        color: red;
        display: flex;
        flex-direction: row;
        .btn-icon {
            width: 24px;
            height: 24px;
        }

    }
}