@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --light-grey: #f2f2f2;
    --black: #0f0f0f;
    --white: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
}

// general styles
.btn{
        display: flex;
                flex-direction: row;
                gap: 1rem;
                text-decoration: none;
                color: var(--black);
                margin: 0 10px 0 10px;
                padding: 0.7rem;
                border-radius: 8px;
                &:hover {
                    background-color: var(--light-grey);
                }
                
}
.side{
    position: relative; //used for the tags
    display: flex;
    flex-direction: column;
    width: 13%;
}
.btn-name {

    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &--home {
        font-weight: 500;

    }
}

// end general styles
.menu {
    .left-bar-slim {
        display: none;
    }

    .left-bar {
        position: relative; //used for the tags
        display: flex;
        flex-direction: column;
        width: 13%;

        h2 {
            margin: 10px 0 10px 20px;
        }

        .btn {
            &--home {
                background-color: var(--light-grey);
            }

            .btn-icon {
                img {
                    height: 24px;
                    width: 24px;
                    border-radius: 12px;
                }
            }

        }

        hr {
            margin: 1rem;
            border: none;
            border-top: 1px solid var(--light-grey);
        }

    }

    .nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 87%;

        ul {
            display: flex;
            list-style: none;
            gap: 1.5rem;

            .tag-btn {
                display: flex;
                flex-direction: row;
                background-color: var(--light-grey);
                padding: .9rem;
                border-radius: 8px;
                &:hover{background-color: #bcbcbc;}
                //  height: 15px;
                &--current-page {
                    background-color: var(--black);
                    &:hover{
                        background-color: var(--black); 
                    }
                }

                .tag-link {
                    color: var(--black);
                    font-size: 1.4rem;
                    font-weight: 500;
                    text-decoration: none;
                    text-wrap: nowrap;

                    &--current-page {
                        color: var(--white);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1320px) {
    .menu {
        .left-bar {
            display: none;
        }

        .left-bar-slim {
            display: flex; 
            max-width: 70px;
             .btn {
                display: flex;
                flex-direction: column;
               
                .btn-name{
                    font-size: 0.9rem;
                    font-weight: 400;
                }
              
        }
    }
}
}

@media only screen and (max-width: 785px) {
    .menu {
        .left-bar,.left-bar-slim {
            display: none;
        }
    }
}