.wrapper{
.media-section{


    .card-item{
        border: 1px solid burlywood;
        background-color: brown;
        width: 31rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        border-radius: 25px;
        .card-item-txt{
        padding-left: 20%;
        padding-right: 5%;
        h3{
            
            
            font-size: 2rem;
            font-weight: bold;
            padding-top: 2rem;
        }
        p{
            font-size: 1.8rem;
        }
        
    }
    img{
        width: 100%;
        height: auto;
        border-radius: 25px;
    }
    .card-icon{
        position: relative;
        width: ;
        border-radius: 50%;
    }
    }
}
}