.wrapper{
    background-color: white;
    
    .header{
        position: sticky;
        display: flex;
        flex-direction: row;
        background-color: white;
        border:2px solid black;
        width: 100%;
        height: 5rem;
        
        

        .humburger span{
            display: block;
            top: 1.4rem;
            left: 1.4rem;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            z-index: 1;
            
        }
        .site-logo{
            
            display: block;
            top: 1.4rem;
            border: 1px solid;
            padding-left: 2rem;
            img{
                width: 13rem;
                
                height: auto;
                padding-top: 0px;
            }

        }
        .search-box{
            margin: auto;
            width: 50rem;
            height: 4rem;
            object-position: center;
            border-radius: 100px;
            background-color: aqua;
        }
        
    }
}

