.page{
    display: flex;
    direction: rtl;
    height: 100%;

    .page-left{
         background-image: "https://static.fcdn.co.il/dyn/projects/css/desktop/icons/registerpage/register-bg.jpg" ;
         text-align: center;
    }
    .page-right{

        text-align: center;
        
        width: 50%;

        .header{
            margin-top: 15%;
        
        #smiley-label{
            font-weight: bold ;
            font-size: 30px;
         }
        }
        #color-blue{
            color: #197dc1;
        }
        
        .form{
            width: 300px;
            display: table;
            text-align: center;
            .seperator{
                margin-bottom: 20px;
            }
        .form-objects{
            margin-top: 10rem ;
            

            .signinput{
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-color: #197dc1;
                margin-top: 30px;
                width: 15rem;
                font-size: 20px;
                
            }
        }
    }
     
    }
}
.button--submit{
    background-color:#197dc1 ;
    color: white;
    width: 100%;
   
}