

* {
    direction: rtl;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
}

body {
    height: 200vh;
}
.commercial {
    position: relative;
    margin: 10px auto;
    display: flex; 
    justify-content: center; 
    
    img {
        margin: auto; 
    }
}
