.ball {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 0px;
  position: absolute;
  animation-name: walk;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes walk {
  0% {
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
  }
  40% {
    left: 100px;
    top: 100px;
    transform: rotate(180deg);
  }
  100% {
    left: 400px;
    top: 200px;
    transform: rotate(720deg);
  }
}

.cube {
  background-color: blue;
  height: 100px;
  width: 100px;
  border-radius: .5rem;
  position: absolute;
  left: 50vw;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.6, -0.68, 0.76, 1.75);
}

@keyframes bounce {
  from {
    top: 300px;
  }
  to {
    top: calc(100vh - 300px);
  }
}
