@import './elements.scss';

$padding15: 15px;

main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    text-align: left;
    margin-top: 5rem;
    padding: 30px 30px 0;

    * {
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .color-grey {
        color: gray;
    }
}

.category-link {
    color: green;
    white-space: nowrap;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

#title-left-menu {
    margin-bottom: 15px;
}

.category__left-menu {
    margin-right: $padding15*2;
    flex: 1;
    min-width: 220px;

    ul {
        margin-top: $padding15;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px gray solid;


        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__checkbox {
        // direction: rtl;
        border-top: 1px solid gray;

        label {
            display: block;
            padding-top: $padding15;
        }
    }
}

.category__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $padding15;
    // max-width: 600px;
}

.category {
    &__top-list {
        background-color: #f1f1f1;
        padding: $padding15;
        grid-column: 1;

        &__first-line {
            display: flex;
            // white-space: nowrap;
            padding-bottom: $padding15;
            max-width: 930px;
            &>div {
                display: flex;
                overflow: hidden;
                flex: 1;
                height: 1rem;
                word-break: break-all;
            }
        }
    }

    &-category {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: $padding15*2;
        text-align: center;

        &__item {

            &__card {

                min-width: 60px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    border: 1px grey solid;
                }
                h5 {
                    font-size: 0.8rem;
                    color: #000;
                }
            }
        }
    }

    &__main-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $padding15;
        margin-bottom: $padding15*2;
    }
}

.category__main-grid__card-product {
    position: relative;

    a {
        display: block;
    }

    &__general-link{
        margin-bottom: 15px;

        img {
            width: 100%;
        }

        &__new-in {
            position: absolute;
            top: 0;
            padding: 3px;
            font-weight: 600;
            background: white;
            opacity: 0.9;
        }

        #wrapTrigger {
            display: none;
        }
        &__heard {
            background-color: white;
        }
        input:checked + &__heard {
            background-color: #000;
        }

        &__heard {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 7%;
            bottom: 125px;
            background-color: white;
            border-radius: 50%;
            text-align: center;

            img {
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                width: 100%;
                height: 100%;
                border: 1px solid gray;
                border-radius: 50%;
                cursor: pointer;

            }
        }

        &__title-product {
            display: flex;
            word-break: break-all;
            height: 1rem;
            overflow: hidden;
            margin-top: 5px;
        }

        h5 {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &__stars {
            height: 20px;
            width: 90px;
            position: relative;

            img {
                position: absolute;
                height: 100%;
            }
            &-background {
                background-color: black;
                height: 100%;
            }
        }
    }

    &__colors {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 5px;
        img {
            border-radius: 5px;
            background-color: green;
            box-shadow: 1px 1px 3px gray;
            width: 100%;
        }
        img:hover {
            width: 75%;
            border: 2px solid green;
        }

    }
}

#fruits {
    height: 30px;
    padding-left: $padding15;
    width: 200px;
    font-size: 1rem;
}

// checkbox

.category {
    &__left-menu__checkbox input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  &__left-menu__checkbox .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  &__left-menu__checkbox .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  &__left-menu__checkbox .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  &__left-menu__checkbox .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  &__left-menu__checkbox .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: green;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  &__left-menu__checkbox .cbx span:last-child {
    padding-left: 8px;
  }
  &__left-menu__checkbox .cbx:hover span:first-child {
    border-color: green;
  }

  &__left-menu__checkbox .inp-cbx:checked + .cbx span:first-child {
    background: green;
    border-color: green;
    animation: wave-46 0.4s ease;
  }
  &__left-menu__checkbox .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  &__left-menu__checkbox .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
}