body{
    background-color: rgb(222, 221, 204);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li{
    text-align: center;
    margin: 10px auto; 
    padding: 10px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
}
