.wrapper{
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    
    .header{
        position: sticky;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .main-page{
        display: grid;
        background-color:rgb(226, 144, 43);
        
        place-content: center;
        
        grid-template-columns: 22.5rem 6rem 14rem 14rem 14rem 22.5rem ;
        grid-template-rows: 7rem 19rem 19rem;
        align-content: center;
        
        .field{
            border:1px solid black;

        }
        .field-top-left{
            grid-row: 1;
            color: white;
            h1{
                font-size: 2.3rem;
            }
        }
        .field-top-center{
            display: flex;
            color: white;
            flex-direction: row;
            gap: 20px;
            grid-row: 1;
            grid-column: 3/6;
            background-color: rgb(220, 19, 19);
            .inside-24-7{
                display: flex;
                flex-direction: column;
                line-height:1rem;
                h1{
                    font-size: 2.3rem;
                }
                p{
                    font-size: 1.4rem;
                    
                }
                
            }
        }
        .field-left{
            grid-row: 2/4;
            color: black;
            background-color: rgb(60, 60, 91);
            h1{
                font-size: 3.5rem;
                
            }
            p{
                font-size: 1.6rem;
            }
            img{
                width: 100%;
            }
            
        }
        .center-global{
            background-color: rgb(255, 255, 255);
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            padding-top: 21%;
            p{
                font-size: 2rem;
            }
            .circle{
                background-color: aqua;
                height: 70%;
                width: 55%;
                border-radius: 50%;
                
                
                
            }
        }
        .center-mental-health{
            
            grid-row: 2;
            grid-column: 3;
            

        }
        .center-from-home{
            grid-row: 2;
            grid-column: 4;

        }
        .center-around-clock{
            grid-row: 2;
            grid-column: 5;

        }
        .center-lab-tests{
            grid-row: 3;
            grid-column: 3;

        }
        .center-recovery-mobility{
            grid-row: 3;
            grid-column: 4;

        }
        .center-medical-cannabis{
            grid-row: 3;
            grid-column: 5;

        }
    }
    .enter-to-my-zone{
        display: flex;
        flex-direction: column;
        grid-column: 6/7;
        grid-row: 1/4;
        background-color: white;
        text-align: center;
        .personal-info{
            padding-right: 1rem;
            color: blue;
            text-align: right; 
        }        
        
    }
}