.card_container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(201, 201, 229);
    border: 0.5rem solid rgb(233, 233, 242);
    gap: 1rem;
    padding: 3rem;
    img{
        width: 20rem;
        height: 12rem;
        :hover{
            opacity: 0.5;
          }
    }
}
body{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h1{
        color:rgb(201, 201, 229) ;
        font-style: italic;
        font-size: 5rem;
    }
button{
   width: 10rem;
   height: 3rem;
   border-radius: 2rem;
   background-color: rgb(201, 201, 229);
   font-size:medium;
}
}