.pokemon {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: red;
    text-align: center;

    &__img {
        width: 8rem;
        background-position: center;
        background-size: cover;
        height: 8rem;
        margin: auto;
    }
}