body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  #map {
    position: relative;
    border: 0.1rem solid #000;
    width: 80rem; 
    background:url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/345d9724898967.5633bed73d62e.jpg) no-repeat center center;
    background-size: cover;
    height: 40rem;
  }
  
  .dinosaur {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .dinosaur:hover {
    transform: scale(1.2);
  }