body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1SSm9kpDS2oYD3tFfjDMvxMWQymLjnemS0Q&s');
    background-size: cover;
}

    img{
        height: 10rem;
        width: 10rem;
        
    }
