header{
    height: 4rem;
    display: flex;
    direction: rtl;
    align-items: center;
    border-bottom: solid rgb(237, 234, 234) 5px;
    
    #a-logo{
        height: 100%;
        padding: 0px;
        margin-right: 17rem;
    
    #logo{
        height: 80%;
        
        &:hover{
            height: 90%;
        }
    }
    }
    #burger{
        height: 30px;
        background-color:rgb(238, 233, 233); ;
        padding: 5px 0 5px 0;
    }
    #searchbar{
        height: 40px;
        border-radius:20px 0 0 20px;
    }
    #jumper{
        height: 45%;
        margin-right: 200px;
        margin-left: 100px;
        &:hover{
            height: 50%;
        }
    }
  
}
.header-input{
    border: 0;
    border-radius:0 20px 20px 0;
    margin: 10px 40px 10px 0px;
    background-color: rgb(238, 233, 233);
    font-size: 15px;
    min-width: 230px;
    height: 40px;

}

.button--sign{
    background-color: #d6e33d;
    &:hover{
        color: white;
        background-color: #22a5ff;
    }
}
.button--facebook{
    background-color: #365899;
    color: white;
    &:hover{
        color: white;
        background-color: #22a5ff;
    }
}