// The project uses an adaptive grid flexboxgrid2
// https://github.com/imevro/flexboxgrid2?tab=readme-ov-file

// Breakpoints
// xs: 0..575px
// sm: 576..767px
// md: 768..991px
// lg: 992..1199px
// xl: 1200px+
// .container padding: 8px
// .container width: $breakpoint - 16px
// .col-* padding: 8px



// ----------------------------------------------------------
// body and header code

$lightgray: rgb(189, 184, 184); // line color

body {
    font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    color: #036;

    a {
        color: inherit;
        text-decoration: none;
    }

    h2 {
        font-size: 1.2em;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        position: relative;
    }
}

header {
    width: 100%;
    border-top: 4px red solid;

    h1 {
        margin: 0;
        padding: 0;
        height: 0;
        font-size: 2em;
    }

    .logo {
        display: block;
        background-image: url("https://static.foxnews.com/static/orion/styles/img/fox-news/s/logos/fox-news-logo.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 80px;
        width: 60px;
        border: 3px #fff solid;
        top: 5px;
        position: relative;
        left: 16px;
    }

    #clock-wrapper {
        position: relative;
        left: 19px;
        bottom: 14px;
        width: 90px;
        height: 16px;
        background-color: red;
        // text-align: center;
        font-size: 0.5em;
        font-weight: bold;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .upper-wrapper {
        background-color: #036;
        height: 50px;
        display: flex;
    }

    .nav-row {
        display: table;
    }

    .nav {
        max-width: 1042px;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: 108px;
    }

    #link-more:hover {
        background-color: transparent;
    }

    .menu {
        position: relative;
    }

    .hidden-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #036;
        width: 100px;
        padding-top: 15px;

        a {
            display: block;
            border-radius: 0;
        }

        #hidden-link-us, #hidden-link-politics, #hidden-link-option, #hidden-link-media {
            display: none;
        }
    }

    .link-more:hover .hidden-menu {
        display: block;
    }

    a {
        padding: 5px 15px;
        transition: 0.2s;
        border-radius: 5px;
        white-space: nowrap;
        font-weight: 600;
    }

    a:hover {
        background-color: rgb(97, 131, 166);
    }

    .meta {
        display: flex;

        .log-in {
            background-color: rgb(97, 131, 166);
            margin-inline: 10px;
        }

        .watch-tv {
            background-color: red;
        }

        a:hover {
            opacity: 0.7;
        }

        #search {
            padding-inline: 0;
        }

        #search:hover {
            background-color: transparent;
        }
    }

    .trending {
        height: 55px;
        width: 100%;
        border-bottom: 1px $lightgray solid;
    }
}

// -------------------------------------------------------
// content code

main {
    display: flex;
    padding-top: 22px;

    .top-news {
        border-right: 1px $lightgray solid;
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100%;
        }
        .first-news {
            display: flex;

            h2 {
                margin-left: 8px;
                font-size: calc(1.1em + 1vw);

            }
        }
        a:hover {
            text-decoration: underline;
        }
    }
    img {
        border-radius: 5px;
    }

    .news-homepage {
        border-bottom: 1px $lightgray solid;
        padding-top: 8px;
        padding-bottom: 22px;

        h2 {
            margin: 0;
        }
    }

    .sidebar {

        .sidebar-table{
            position: sticky;
            top: 0;
            border: 1px $lightgray solid;
            border-radius: 5px;
            box-shadow: 0 0 5px $lightgray;

            .line {
                padding: 10px 20px;
                display: flex;
                border-bottom: 1px $lightgray solid;
                align-items: center;
            }

            .icon {
                width: 42px;
                height: 42px;
                background-image: url("../images/logo1.png");
                background-size: cover;
                margin-right: 20px;
            }

            .title-icon {
                h6, p {
                    margin: 0;
                    padding: 0;
                }

                h6 {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 0.7em;
                    color: darkgray;
                }
            }

            #active {
                border-left: 4px red solid;
                border-top-left-radius: 4px;
                padding-left: 16px;
            }
        }
    }
}

// ----------------------------------------------
// code footer

footer {
    background-color: #036;
    color: #fff;
}

.footer-icon-list {
    display: flex;
    justify-content: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 3px;
        width: 32px;
        height: 32px;
        font-size: 1.5em;
        background-color: rgb(6, 31, 56);
        border-radius: 50%;
        transition: 0.2s;
    }

    #facebook:hover {
        background-color: #1877F2;
    }
    #instagram:hover {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
    #youtube:hover {
        background-color: red;
    }
    #linkedin:hover {
        background-color: #0762C8;
    }
}

//-----------------------------------------------
// working with Breakpoints

@media screen and (max-width: 1199px) {

    #nav {
        max-width: 834px;
    }

    #first-news {
        display: block;
    }

    #first-photo {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .sidebar, #link-politics, #link-option{
        display: none;
    }

    .link-more:hover .hidden-menu {
        #hidden-link-politics, #hidden-link-option {
            display: block;
        }
    }

    #nav {
        max-width: 602px;
    }

    #top-news {
        border-color: transparent;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    #link-us, #link-media{
        display: none;
    }

    .link-more:hover .hidden-menu {
        #hidden-link-us, #hidden-link-media {
            display: block;
        }
    }

    #nav {
        width: 410px;
    }
}

@media screen and (max-width: 575px) {
    #link-world, #link-more{
        display: none;
    }

    #upper-wrap-wrapper, #nav-row{
        width: 100%;
    }
    #nav {
        display: flex;
        justify-content: end;
        width: auto;
        position: static;
        padding-right: 8px;
    }
}