.wrapper {
    display: flex;

    .the_scores {
        width: 70%;

        .scores_menu {
            height: 30px;
            width: 100%;
            background-color: rgb(63, 96, 163);

        }

        .scores_day_menu {
            height: 50px;
            width: 100%;
            background-color: rgb(63, 96, 163);
            margin-top: 15px;
        }

        .title {
            height: 30px;
            width: 100%;
            background-color: rgb(220, 14, 14);
            margin-top: 15px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .content {
            height: 90px;
            width: 100%;
            background-color: rgb(249, 249, 249);
            margin-top: 15px;
            border: 1px solid;

        }

    }

    .mor {
        border: 1px solid;
        margin-right: 5px;
        width: 30%;
    }

}