.wrapper {

    .menu {
        text-align: right;
        font-size: 30px;
        
    }
   
    .icons {
        align-items: end;
    }

    .header {
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    
    }
    .footer {
        background-color: rgb(168, 241, 217);
    }
}