* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 110vh;
  background-image: url(../images/map-magical-land.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.map {
  position: relative;
}
.pokimon {
  width: 6rem;
  height: 6rem;
  background-size: cover;
  position: absolute;
}
