@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-color: #F1E5D1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #DBB5B5;
    padding: 2rem;
    margin: 2rem;
    height: 20rem;
    width: 15rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    h2 {
        color: #f4f4f4;
    }

    .formInput {
        margin-bottom: 1rem;

        fieldset {
            border: 1px solid white;
            padding: 0.5rem;
            margin: 0;

            legend {
                margin-bottom: 0.5rem;
                font-size: 1rem;
                font-weight: bold;
                background-color: gray;
                color: white;
            }

            input, textarea {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #FF9EAA;
                border-radius: 4px;
            }
        }
    }

    button {
        background-color: #987070;
        color: #FF9EAA;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: darken(#987070, 30%);
            color: #f4f4f4;
        }
    }

    #result, #result2, #result3 {
        margin-top: 2rem;
        font-size: 1.2rem;

    }
    .error {
        color: red;
       
    }
    .inputError {
        border-color: red;
    }
}
