body {
  background-color: gray;
}
.wrapper {
  padding: 1%;
  background-color: white;
  width: 15vw;
  text-align: center;
  margin-left: 40%;
  margin-top: 6%;
  font-family: "Open Sans", sans-serif;

  h5 {
    margin-top: 0%;
    margin-bottom: -1%;
    font-weight: 600;
    font-size: 14px;
  }
    
  .login__field {
    padding: 10px 0px;	
    position: relative;	
  }
    
  .login__icon {
    position: absolute;
    top: 25px;
    margin-left: 4%;
  }
    
  .login__input {
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    background: none;
    padding: 15px;
    padding-left: 38px;
    font-size: 16px;
    width: 80%;
  }
  
  .checkbox {
    margin-right: 62%;
    font-size: 14px;
  }

  h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -5%;
    margin-bottom: -1%;
  }

  h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -2%;
    margin-bottom: 0%;
  }
   
  button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
  }

  p {
    margin-top: -1%;
    font-size: 12px;
  }

  a {
    color: rgb(199, 27, 27);
    cursor: pointer;
  }

  a:hover {
    color: blue;
  }
}