$borderColor: rgb(122, 102, 123);
$borderSearch: rgb(120, 52, 109);
$searchHover: rgb(248, 211, 242);
$rightClickDiv: rgb(224, 213, 213);
$hover: rgb(192, 186, 186);

.note-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .note-new {
        margin-top: 3%;
       
        box-shadow: 2px 2px 12px rgb(79, 80, 85);
        width: 30%;
        padding: 10px;
        border-radius: 3%;
        .note-text-hidden {
            display: none;
        }

        .note-text-show {
            display: block;
        }

        .note-title,
        .text-note-container {
            margin-top: 3px;
            text-align: center;
            input {
                width: 98%;
                padding: 5px;
                margin-bottom: 13px;
            }
            .note-text {
                padding: 5px;
                 height: 5rem;
                 resize: none;
                 width: 98%;
                 
            }
        }
    }
}

#my-notes-container {
    margin: 10%;
    display: grid;
    grid-template-columns: 30% 40% 15% 15%;

    .search {
        margin-top: 10px;

        .input-search {
            width: 99%;
            height: 30px;
            border: none;
            border: 1px solid $borderSearch;
        }

        .right {
            width: 97%;
        }
    }

    .data {
        border-left: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
    }

    .right {
        border-right: 1px solid $borderColor;

    }

    .noteData {
        &:hover {
            background-color: $searchHover;
        }
    }
}

.menu {
    position: absolute;
    background-color: $rightClickDiv;
    width: 150px;
    opacity: 0.8;
    border-radius: 3%;

    div {
        margin: 10px;

        a {
            text-decoration: none;
            color: rgb(30, 29, 29);

        }

        &:hover {
            background-color: $searchHover;
        }
    }
}



.submit-note {
        margin-top: 3%;
        height: 2rem;
        background-color:$rightClickDiv;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $hover;
        }
    }


.off {
    display: none;
}

.on {
    display: block;
}