body{
    background-color: rgb(16,17,25);
}

.a{
    display: flex;
    justify-content: center;
    
}
h1{
    color: white;
}

.video-main-title{
    display: flex;
    gap: 1rem;
    border-bottom: 1px white solid;
    margin-bottom: 1rem;


    a{
        text-decoration: none;
        color: white;

        &:hover{
           color: rgb(131,199,241);
        }
    } 
}