.container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    height: 200vh; 
  }
  
  .box {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    border-radius: 8px;
  }
  
  .relative {
    background-color: #3498db;
    position: relative;
  }
  
  .fixed {
    background-color: #2ecc71;
    position: fixed;
    top: 50px;
    left: 50px;
  }
  
  .absolute {
    background-color: #e74c3c;
    position: absolute;
    top: 50px;
    right: 210px;
  }
  
  .sticky {
    background-color: #9b59b6;
    position: sticky;
    top: 0;
    margin-top: 50px; 
    z-index: 1; 
  }
  
  .static {
    background-color: #f39c12;
    position: static;
  }
  