#celebs {
  text-decoration: underline;
}

/* Header image + page title  */
.article1 {
  position: relative;
  text-align: left;
  color: white;
  z-index: 0;
  height: 380px;
}
.article1 .crop {
  position: relative;
  overflow: hidden;
  height: 380px;
}
.article1 .crop img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}
.article1 .crop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}
.article1 .crop .article1Header {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 40px;
  height: 190px;
  width: 100%;
  z-index: 2;
}
.article1 .crop .article1Header h2.celebrities {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
}

/* Page content*/
.articles {
  position: relative;
  display: flex;
}
.articles .articleLeft {
  width: 825px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.articles .articleLeft img {
  width: 775px;
}
.articles .articleLeft p :hover {
  color: grey;
}
.articles .articleRight {
  display: flex;
  flex-direction: column;
}
.articles .articleRight .box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #222;
  width: 390px;
}
.articles .articleRight .box1 img {
  width: 135px;
  height: 135px;
  padding: 10px;
}

.article3 {
  font-family: Courier;
  font-size: 310%;
}
.article3 :hover {
  color: gray;
}

.container1 {
  display: flex;
  gap: 10%;
  justify-content: center;
}
.container1 .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container1 .box1 h4 {
  text-align: center;
  word-wrap: break-word;
}
.container1 .box1 img {
  width: 200px;
  height: auto;
  padding: 10px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  color: white;
}
.container2 h1 {
  font-size: 500%;
  margin-right: 200px;
  margin-bottom: -90px;
  margin-left: -125px;
}
.container2 .box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}
.container2 .box2 h4 {
  text-align: center;
}
.container2 .box2 img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.Ad-break {
  text-align: center;
}
.Ad-break img {
  width: 30%;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  background-color: black;
  color: white;
}
.container3 h1 {
  font-size: 500%;
  margin-bottom: -60px;
  margin-right: 500px;
}
.container3 .box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container3 .box3 h4 {
  text-align: center;
  word-wrap: break-word;
  font-size: 70%;
}
.container3 .box3 img {
  width: 250px;
  height: auto;
  padding: 10px;
}

.container4 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: black;
  justify-content: center;
  color: white;
}
.container4 h1 {
  font-size: 700%;
  margin-right: 600px;
}
.container4 .box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}
.container4 .box4 h4 {
  text-align: left;
  word-wrap: break-word;
}
.container4 .box4 img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.container5 {
  padding: 5%;
}
.container5 h2 {
  font-size: xx-large;
}
.container5 img {
  margin-left: 3.5%;
}

.Ad-break2 {
  text-align: center;
  background-color: black;
  padding: 5%;
}
.Ad-break2 img {
  width: 30%;
}

.container6 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  background-color: black;
  color: white;
}
.container6 h1 {
  font-size: 500%;
  margin-bottom: -60px;
  margin-right: 500px;
}
.container6 .box6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container6 .box6 h4 {
  text-align: center;
  word-wrap: break-word;
  font-size: 70%;
}
.container6 .box6 img {
  width: 250px;
  height: auto;
  padding: 10px;
}/*# sourceMappingURL=celebs.css.map */