@import url('https://fonts.cdnfonts.com/css/moret?styles=147680');
/* color scheme */
$font-family-main: 'Moret', sans-serif;
$font-family-secondary: RundDisplay, RundDisplay-fallback, Helvetica, Arial, sans-serif;
$color-purple: #DA8EEA;
$color-black: black;
$color-white: white;

/* Article */
article {
  margin-left: 40px;
  margin-bottom: 100px;

  h1 {
    width: 900px;
    font-size: 4rem;
    line-height: 1.2;
    font-family: $font-family-main;
    margin: 0;
  }

  h1.gratsh1 {
    font-family: $font-family-secondary;
    font-weight: bold;
    font-size: 100px;
    margin-left: 40px;
    letter-spacing: 10px;
    width: 100vw;
  }

  h2 {
    display: block;
    margin-bottom: 0;
    font-size: 2.625rem;
    line-height: 1.4;
    margin-top: 0.625rem;
    font-family: $font-family-secondary;
    font-weight: bold;
    text-transform: lowercase;
  }

  img {
    display: block;
    position: relative;
    width: 1180px;
  }

  #hrTopPadding {
    margin-top: 260px;
    width: 95%;
  }

  .grats {
    padding-top: 30px;
    position: relative;
    display: flex;
    width: 775px;

    .left {
      z-index: -1;
      margin-top: -30px;
      flex-direction: column;

      img {
        position: relative;
        margin-top: -20px;
        width: 775px;
      }

      h2 {
        font-size: 60px;
        font-family: $font-family-main;
        letter-spacing: 3px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      z-index: -1;
      margin-left: 10px;
      margin-top: -58px;

      .box1index {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        border-bottom: 1px solid #222;
        width: 390px;

        img {
          width: 135px;
          height: 135px;
          padding: 10px;
        }

        .box1innerdiv {
          flex-direction: column;

          .smallP {
            text-decoration: none;
            font-size: 13px;
            margin-bottom: 0;
          }

          h4 {
            margin-top: 0;
          }
        }
      }
    }
  }

  .underlined {
    text-decoration: underline;
    text-decoration-color: $color-purple;
  }
}

/* Section */
section {
  background-color: $color-black;
  color: $color-white;
  width: 100vw;

  .container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    .sectionHeader {
      line-height: 1.4;

      h2 {
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 15px;
      }
    }

    .row {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;

      .imgContainer,
      .imgContainer2 {
        display: flex;
        flex-direction: column;

        img {
          width: 385px;
          height: 385px;
        }

        h4 {
          font-size: 24px;
          width: 385px;
        }
      }

      .imgContainer2 {
        padding-right: 30px;

        img {
          width: 277px;
          height: 277px;
        }
      }

      .imgContainer:not(:last-child) {
        margin-left: 30px;
      }

      .imgContainer2:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/* Black Article */
.black {
  background-color: $color-black;
  color: $color-white;
  padding: 20px;

  .underlined {
    text-decoration: underline;
    text-decoration-color: $color-purple;
    font-size: 20px;
  }

  h1 {
    width: 1000px;
    font-size: 4rem;
    line-height: 1.2;
    font-family: $font-family-main;
    margin: 0;
  }

  .formDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: $color-black;
    color: $color-white;
    border-bottom: 0.0625rem solid $color-purple;
    border-radius: 0;
    width: 80%;

    input[type="email"]#email {
      background: none;
      border: 0;
      height: 2.5rem;
      width: 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      outline: 0;

      &::placeholder {
        color: $color-white;
        font-size: 1rem;
        line-height: 1.3;
        font-family: $font-family-secondary;
      }
    }
  }

  form {
    display: flex;
    align-items: center;

    button {
      display: flex;
      font-family: $font-family-secondary;
      font-size: 0.75rem;
      font-weight: bold;
      letter-spacing: 0.03rem;
      line-height: 1;
      align-items: center;
      background-color: $color-purple;
      border: 0.0625rem solid transparent;
      border-radius: 50rem;
      color: $color-black;
      cursor: pointer;
      padding: 0.76rem 1.3125rem 0.8rem;
      margin-left: 10px;
      &:hover {
        background-color: $color-white;
      }
    }
  }

  #agreement {
    font-size: 11px;
    text-decoration: none;

    a {
      color: $color-white;
    }
  }
}
