.header {
    margin-top: 0;
    padding: 1px;
  }
  
  .BBC-header {
    position: sticky;
    border: bottom 0.5em gray;
    height: 60px;
    background-color: white;
    text-align: center;
  }
  
  .form-inline {
    text-align: right;
    margin-top: -1.5%;
  }
  
  .form-inline .btn {
    padding: 0rem 1rem;
    font-size: 1.4rem;
    color: white;
    background-color: black;
    text-align: right;
    margin: 0%;
    top: 0%;
  }
  
  .navigation-bar-header {
    text-align: center;
  }
  
  .button {
    border: 0;
    background-color: white;
    font-size: 14px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
  }
  
  .button:hover {
    border-bottom: 3px solid black;
  }
  
  .navigation-bar-header {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }
  