body {
    font-family: Arial, sans-serif;
}

.ad-break {
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-bottom: 10px;
    padding: 5%;
    flex-wrap: wrap;
}

.best-categories h2 {
    text-align: left;
    margin-bottom: 10px;
}

.category-images {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.best-categories img {
    max-width:50%
} 

.hot-sale, .on-trend, .best-brands {
    text-align: left;
    margin-bottom: 20px;
}

.hot-sale img, .best-brands img {
    align-items: center;
    max-width: 30%; 
    margin: 5px;
}
.on-trend img{
    margin-left: 2%;
    max-width: 50%; 
    margin: 5px; 
}
.best-brands {
    text-align: left;
    margin: 0 auto;
    padding: 20px;

}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    justify-content: center;
    margin: 0 0 16px;
    max-width: 1200px;
    
}

.brand-grid img {
    width: 100%;
    height: auto;
    border: 0 solid lightgrey; 
    border-radius: 1%;
    box-sizing: border-box;
    padding: 5px;
    
}


.shop-all-button {
    text-align: center;
    margin-top: 20px;
}
.shop-all-button p:hover{
    background-color: yellow;
    color: black;
}

.shop-all-button p {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}
