body{
    background-color: skyblue;


    .grid-container {
      display: grid;
      grid-template-rows: 270px 270px;
      grid-template-columns: 270px 270px 270px 270px 270px;
      gap: 10px;
      justify-content: center;
  }
  

.grid-item {
   border: 1px whitesmoke;
    background-color: white;
  }

  .img{
    margin: 25px;
  }
h1 {
margin-top: 0px;

.logo {
  color: green;
  background-color: white;
  font-size: 3.2rem;
  margin-right: 600px;
  
}

.logo1{
  margin-right: 900px;

}
  .nav{
    display: flex;
   
  }
  .nav_container {
    display: flex;
    position: relative;
    background-color:white;
  }
  .form-inline{
   margin-top: 10px;
   padding: 5px;
  
  .btn1 {
    padding: 0rem 1rem;
    margin-right: 300px;
    font-size: 1.6rem;
    background-color: rgb(46, 105, 216);
    color: white;
    
    
  }
  
  .btn2 {
    padding: 0rem 1rem;
    font-size: 1.6rem;
    background-color: green;
    color: white;
  }
  }

}
}
h2 {
  margin-right: 25%;
  font-size: 50px;
  color: rgb(0, 102, 255);
  font-family: "Open Sans Hebrew";
  text-decoration:none;
  
}