body {
    background-color: #000000;
    color: white;
}


.second-head {
    display: flex;
    align-items: end;
    margin-top: 15px;
    gap: 10px;

    h2 {
        margin: 0;
        align-items: end;
    }

    p {
        align-items: center;
        background-color: #00BBEA;
        color: #000000;
        margin: 0;
        padding: 5px;

    }
}


.main-content {

    .sub-menu {
        display: flex;
        flex-direction: row;
    }

    .sub-menu-button {
        background-color: #707070;
        width: fit-content;
        block-size: fit-content;
        display: flex;
        align-items: center;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 5px;
    }

    p {
        margin: 0 5px;
        color: #000000;
        font-size: 20px;
    }

    .black-box {
        width: 20px;
        height: 20px;
        background-color: #000000;
    }
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 200px;
    grid-template-rows: repeat(12, 225px);
    box-sizing: content-box;
    justify-content: space-between;
    // justify-content: start;
    gap: 5px;
    margin: 0;
}

.side-bar {
    text-align: right;
    grid-column: 4;

    a {
        text-decoration: none;
        color: #a0a0a0;
    }

    ul {
        list-style-type: none;
        width: 200px;
        padding: 0;
    }

}


.img-table {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(12, 225px);
    box-sizing: content-box;


    .artist-img {
        box-sizing: border-box;
    }

    img {
        width: 290px;
        height: 181px;
        object-fit: cover;
    }
}

.article-name {
    background-color: #2c2c2c;
    width: 290px;
    padding: 5px 0px;
    text-align: center;
    color: #c0c0c0;


    p {
        color: #c0c0c0;

    }

}