body{
    margin: 0;
}
.filter{
    margin: 2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin: 4rem;
 .card{
    
    border: 1px solid rgb(183, 166, 166);
    h4{
        font-size: 1.5rem;
        text-align: center;
    }
    .card-image{
        text-align: center;
        img{
            height: 13rem;
        }
    }
    .info{
        padding: 2rem;
        font-size: 0.9rem;
    }
 }  
 .subtitle{
    font-weight: 700;
 }
}