.wrapper {
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: green;
    img {
        width:100%;
    }
    p {
        color: white;
    }
    h1 {
        color: red;
    }
}