.black{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: black;
}
.white{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
}